* {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
}

a {
  color: #3494ff;
  text-decoration: none;
}

a:visited {
  color: #3494ff;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

html {
  background: #3494ff;
}

.button {
  margin-top: 20px;
  background-color: #FFDB19;
  border: none;
  border-radius: 5px;
  padding: 15px;
  color: black;
  box-shadow: 5px 5px 10px #B29911;
  transition: all 10ms ease-in;
}

.button:hover {
  background-color: #e6c300;

}

.button:active {
  outline: none;
  border: none;
  transform: translateX(4px) translateY(4px);
  box-shadow: 1px 1px 10px #B29911;
}

.button:focus {
  outline: none;
}

.tweetDiv {
  z-index: 0;
  padding: 30px 10px;
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 970px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scoreCounter {
  width: 100%;
}
/*.tweetDiv > div:first-child {
  flex: 0 1 100%;
}*/

blockquote.twitter-tweet {
  /*display: inline-block;*/
  box-sizing: border-box;
  padding: 16px;
  margin: 10px 0;
  max-width: 450px;
  max-height: 235px;
  /*min-width: 400px;*/
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}



blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

blockquote.twitter-tweet img {
  border-radius: 5px;
  height: 48px;
  width: 48px;
}

/*body {
  background-color: #7FDBFF;
}*/




/*.tweetCard {
  animation: cardRotate 1s linear backwards;
}

@keyframes cardRotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  75% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}*/

@media(max-width: 919px) {
  .tweetDiv {
    flex-direction: column;
    align-items: center;
  }
  .scoreCounter {
    width: 450px;
  }
}

@media(min-width: 919px) {
  .tweetDiv {
    padding-top: 120px;
  }
}

@media(max-width: 660px) {
  blockquote.twitter-tweet {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .scoreDiv {
    margin-top: 0px;
  }
  blockquote.twitter-tweet p {
    font: normal 14px/20px Georgia, "Times New Roman", Palatino, serif;
  }
}

@media (max-width: 450px) {
  .scoreCounter {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .tweetDiv {
    padding: 30px 10px;
  }
}

@media (max-width: 360px) {
  .tweetDiv {
    padding: 50px 10px;
  }
}

@media (max-width: 320px) {
  .tweetDiv {
    padding: 30px 10px;
  }
}

/* iPhone5 Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  .tweetDiv {
    flex-direction: right: justify-content;  ;
: center;
  }
}


/* iPhone6 Landscape */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  .tweetDiv {
    flex-direction: row;
    justify-content: center;
  }
}

/* iPhone6+ Landscape */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {
  .tweetDiv {
    flex-direction: row;
    justify-content: center;
  }
}
